* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
  background-color: #262626;
  color: #e0e0e0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: inherit;
  color: #e0e0e0;
}